bin
obj
fonts
.vs
/Projects/WebTestForAngularJs/packages
/Projects/ToolsConvertZip9/packages
/Projects/Log4NetRecordLog/ServiceReferenceTest/*.user
/Projects/ToolsConvertZip9/ToolsConvertZip9/*.user
/Projects/SwaggerTest/packages
/Projects/HtmlToPdf/packages
/TestProjects/Vs2017NetFrameTest/packages
/TestProjects/Vs2017NetFrameTest/NetMVCWebSite/*.user
/PartsOfCodes/ReactJS/Test1/React2TestForMvc/packages
packages
/TestProjects/Vs2017NetFrameTest/Vs2017NetFrameTest/Vs2017NetFrameTest.csproj.user
*.nupkg
*.exe
*.user
