<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicesFromFour51.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SharedSecret" value="xxxxxx" />
    <add key="ProductServiceURL" value="http://test.four51.com/services/Product.asmx?id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://test.four51.com/services/Product.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductSoap"
                contract="SRFour51Product.ProductSoap" name="ProductSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ServicesFromFour51.Properties.Settings>
            <setting name="ServicesFromFour51_WRFour51Product_Product" serializeAs="String">
                <value>http://test.four51.com/services/Product.asmx</value>
            </setting>
        </ServicesFromFour51.Properties.Settings>
    </applicationSettings>
</configuration>