<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="${basedir}\logs\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Null"
            name="blackhole" />

    <target xsi:type="File" name="ToFile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${newline}${exception:separator=${newline}:exceptionDataSeparator=${newline}}${newline}${message}${newline}" ></target>

    <target xsi:type="Database"
            name="database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[UILogEntries]
        ([Host]
        ,[Level]
        ,[Logger]
        ,[Message]
        ,[TimeStampUTC])
        VALUES
        (@host
        ,@level
        ,@logger
        ,@msg
        ,getutcdate())
      </commandText>
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@msg" layout="${exception:separator=${newline}:exceptionDataSeparator=${newline}}${newline}${message}" />
    </target>
  </targets>
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <!--Added a fake comment to test checkins-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="IdentityServer4.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="IdentityModel.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!--Also log to the database-->
	<logger name="*" minlevel="Info" writeTo="database" />
	<logger name="*" minlevel="Error" writeTo="ToFile" />
  </rules>
</nlog>