@model LoginAuthenticationTest.Models.CommonPageInforViewModel

@{
    ViewData["Title"] = "PolicyLoginedPage";
    Layout = "~/Views/Shared/_Layout_AccountLoginTest.cshtml";
}

<h2>PolicyLoginedPage</h2>

<div>
    <h4>CommonPageInforViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>
    </dl>
</div>
