@page
@namespace BlazorTest.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BlazorTest.Pages.actModel
@{
    Layout = "_Layout";
}

<div>
    Show the ACT Page
</div>
<div>
    @for (int i = 0; i < 5; i++)
    {
        <div>
            <div>component @i</div>
            <component type="typeof(Counter)" render-mode="ServerPrerendered" param-currentCount="@Model.StartIndex" />
        </div>
    }

    @for (int i = 0; i < 5; i++)
    {
        <div>
            <div>View @i</div>
            <partial name="PartailViews/InforShowView" model="i" />
        </div>
    }
</div>