@model CommonPageModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

<p>@Model.Messages</p>

<p>@Model.Information</p>

<p>@Model.Environment</p>

<p>Over List ------------------</p>